@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Syne:wght@400;500;600&display=swap');

:root {
  --highlight: #f9004d;
  --subtitle: #555555;
  --heading: #ffeff4;  
}

/* General Styling */

/* Google font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Syne', sans-serif;
  line-height: 1.7;
}

p {
  color: var(--subtitle);
}

/* Transition */

a, .button {
  transition: all 200ms ease;
}

/* Navigation */

nav, 
.nav-links {
  display: flex;
}

nav {
  box-shadow: 0px 0.5px 20px #c4c4c4;
  justify-content: space-around;
  align-items: center;
  height: 12vh
}

.nav-links {
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

/* Highlights over mouse hover on links */

a:hover {
  color: var(--highlight);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: var(--highlight);
}

.name {
  font-size: 2rem;
}

.name:hover {
  cursor: default;
}

.icons {
  display: none;
}

.icons {
  transform: translateY(1px);
}

/* Rotates the app icon */

.iconRotate:hover {
    transform: rotate(45deg);
}

/* Sections */

section {
  padding: 5vh 0;
  height: 95vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: auto;
}

/* Hero section */

#hero {
  display: flex;
  justify-content: center;
  gap: 7rem;
  height: 90vh;
}

.hero_pic-container {
  display: flex;
  height: 500px;
  width: 500px;
  margin: auto 0;
}

.hero_pic-container img {
  border-radius: 50%;
}

.hero_text {
  align-self: center;
  text-align: center;
}

.hero_text p {
  font-weight: 800;
  font-size: 1.5rem;
}

.title {
  font-size: 3.5rem;
  text-align: center;
}



/* Buttons */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 2vh auto;
}

.button {
  font-weight: 500;
  transition: all 250ms ease;
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  cursor: pointer;
}

.btn-color_2 {
  background-color: var(--highlight);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: 500;
  transition: all 400ms ease;
}

.btn-color_1,
.btn-color_2:hover {
  background-color: transparent;
  border: 2px solid var(--highlight);
  color: black;
  font-weight: 500;
}

.btn-color_1:hover {
  background-color: var(--highlight);
  border: 2px solid transparent;
  color: white;
}

/* Social Media Icons */

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 2rem;
}

.social-icon {
  cursor: pointer;
  height: 1.5rem;
}

.social-icon:hover {
  transform: scale(1.5);
}

/* About me section styles */

#about {
  padding: 5rem;
  position: relative;
}

.about-container {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.about_pic-container {
  height: 30rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.about_pic {
  margin-top: 1.5rem;
  height: 25vh;
  align-items: center;
  justify-content: center;
}

.about_text-container {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.about_text_p1-container p {
  font-weight: 800;
}

.arrow_down {
  position: absolute;
  right: -8rem;
  bottom: 2rem;
  height: 2.5rem;
}

/* Work Section*/


#work {
  padding-top: 3rem;
  margin-top: 3rem;
}

.work_grid {
  position: relative;
  margin: 0 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
    'project_1 project_1'
    'project_1 project_1'
    'project_2 project_3'
    'project_4 project_5';
  gap: 1rem;
}


#work{
  position: relative;
}

.work_grid_area  {
  position: relative;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0.1rem;
  cursor: pointer;
  display: grid;
  border: 0.15rem solid var(--subtitle);
  opacity: 0.75;
}

.grid_content {
  height: 80vh;
  padding-bottom: 5rem;
  justify-content: center;
}

.heading {
  position: absolute;
  background-color: var(--heading);
  padding: 0.1rem 0.2rem;
  height: 3rem;
  width: 6rem; 
  bottom: 20px;
  text-align: justify;
  border: 0.1rem solid var(--highlight);
  border-radius: 0 2rem 2rem 0;
  font-size: 0.7rem;
  border-left: 0;
}

.work_grid_area:hover {
  transform: scale(1.05);
  opacity: 1;
}

#project_1 {
  grid-area: project_1;
  background-image: url(../images/Webpage.png);
}

#project_2 {
  grid-area: project_2;
  background-image: url(../images/02-portfolio-1.jpg);
}
#project_3 {
  grid-area: project_3;
  background-image: url(../images/02-portfolio-2.jpg);
}
#project_4 {
  grid-area: project_4;
  background-image: url(../images/02-portfolio-3.jpg);
}
#project_5 {
  grid-area: project_5;
  background-image: url(../images/02-portfolio-4.jpg);
}

/* Contact Ifo */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 95vh;
  padding: 0;
}
  
.contact-container {
  display: flex;
  justify-content: center;
  border: var(--highlight) 0.1rem solid;
  border-color: var(--highlight);
  border-radius: 3rem;
  margin: 2rem 25rem;
}

.contact_info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto;
}

.contact_info-container p {
  font-weight: 600;
}

.contact_info-container:hover p {
  transform: scale(1.15);
}

/* Footer */

#footer {
  position: relative;
  margin-bottom: 5rem;
}

.arrow_up {
  position: absolute;
  right: 2.4rem;
  bottom: 4rem;
  height: 2.5rem;
}

.detail {
  display: flex;
  justify-content: center;
}

footer p {
  text-align: center;
}

/* @media only screen and (max-width:999px) {
  .nav-links {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .icons {
    display: none;
  }
}
   */
   @media only screen and (max-width:1200px) {
    #hero {
      height: 80vh;
      margin-bottom: 5rem;
    }
    .about-container {
      flex-wrap: wrap;
    }
   }





   @media only screen and (max-width:1000px) {
    .nav-links {
      display: none;
    }
    .icons {
      display: flex;
    }
   
    nav {
      flex-direction: row;
      width: 100%;
      box-shadow: none;
      justify-content: right;
    }
    .icons {
      margin-left: 5rem;
      margin-right: 0;
    }
    #hero {
      margin-left: 7rem;
      display: block;
      flex-direction: column;
      margin-top: -8rem;
      
    }
    .arrow_down {
      display: none;
    }
    .arrow_up {
      display: none;
    }
    .hero_pic-container {
      flex-direction: column;
      height: 15rem;
      width: 15rem;
      margin: 10rem 0rem auto;
     justify-content: center;
    }
    #about {
      flex-direction: column;
      display: block;
      margin-top: 20rem;
    }
    .about_pic-container {
      flex-direction: column;
      margin-top: 0;
      align-content: center;
      height: 30vh;
    }
    .about_text-container {
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: flex-start;
     height: 90vh;
    }
    #about h1 {
      padding-left: 5rem;
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .about-container {
      display: flex;
      flex-direction: column;
    }
    #contact {
      width: 80vw;
      display: flex;
      margin-left: 5rem;
    }
    .contact-container {
      flex-direction: column;
      width: 100%;
      margin-left: 0;
    }
    .contact-container .contact_info-container {
      display: flex;
      flex-direction: column;
      
    }
    section, 
    .hero_text {
      height: fit-content;
      flex-direction: column;
    }
    section {
      margin: 0 5%;
    }
   #footer {
      display: flex;
      flex-direction: row;
      width: 80%;
      justify-content: end;
      margin-left: 5.2rem;
    }
   }

     @media only screen and (max-width:600px) {
    #work {
      padding-left: 50px;
      margin-left: 20px;
      width: 100%;
    }
    .work_grid_area .grid_content {
      height: 80vh;
      grid-template-rows: repeat(4 1r);
      grid-template-columns: 1fr;
      grid-area:
       'project_1'
       'project_2'
       'project_3'
       'project_4'
       'project_5';
    }
    
   }

    