@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Syne:wght@400;500;600&display=swap');

:root {
  --highlight: #f9004d;
}

/* General Styling */

/* Google font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Syne', sans-serif;
  line-height: 1.5;
}

p {
  color: #555555;
}

/* Transition */

a, .button {
  transition: all 200ms ease;
}

/* Navigation */

nav, 
.nav-links {
  display: flex;
}

nav {
  box-shadow: 0px 0.5px 20px #c4c4c4;
  justify-content: space-around;
  align-items: center;
  height: 12vh
}

.nav-links {
  list-style: none;
  gap: 2rem;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
}

/* Highlights over mouse hover on links */

a:hover {
  color: var(--highlight);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: var(--highlight);
}

.name {
  font-size: 2rem;
}

.name:hover {
  cursor: default;
}

.icons {
  display: none;
}

.icons {
  transform: translateY(1px);
}

/* Rotates the app icon */

.iconRotate:hover {
    transform: rotate(45deg);
}

/* Sections */

section {
  padding: 5vh 0;
  height: 95vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: auto;
}

#hero {
  display: flex;
  justify-content: center;
  gap: 7rem;
  height: 90vh;
}

.pic-container {
  display: flex;
  height: 500px;
  width: 500px;
  margin: auto 0;
}

.pic-container img {
  border-radius: 50%;
}

.section_1-text {
  align-self: center;
  text-align: center;
}

.title {
  font-size: 3.5rem;
  text-align: center;
}

.section_1-text_1 {
  font-size: 1.5rem;
  font-weight: 800;
}

/* Buttons */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 2vh auto;
}

.button {
  font-weight: 500;
  transition: all 250ms ease;
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  cursor: pointer;
}

.btn-color_2 {
  background-color: var(--highlight);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: 500;
  transition: all 400ms ease;
}

.btn-color_1,
.btn-color_2:hover {
  background-color: transparent;
  border: 2px solid var(--highlight);
  color: black;
  font-weight: 500;
}

.btn-color_1:hover {
  background-color: var(--highlight);
  border: 2px solid transparent;
  color: white;
}

/* Social Media Icons */

#sm-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 2rem;
}

.social-icon {
  cursor: pointer;
  height: 1.5rem;
}

.social-icon:hover {
  transform: scale(1.5);
}

#about {
  position: relative;
  
}

/* About me section styles */




/* @media only screen and (max-width:999px) {
  .nav-links {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .icons {
    display: none;
  }
}
   */

   @media only screen and (max-width:900px) {
    .nav-links {
      display: none;
    }
    .icons {
      display: flex;
    }
   }